body
{
  background:  #8d8b8b    ;/* couleur du fond */
  font-family: "Arial", "Helvetica", sans-serif; /*définition de la police d'écriture*/
  color: #000000 ;      /*définition de la ouleur de la police*/
}
.grille1
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
  "h h h"
  "b b b"
  "ar ar as"
  "f f f"

  }

header
{
grid-area: h;
display: flex;
justify-content: space-around;
align-items: flex-start;
}

.banniere
{

}

article
{
    margin-left: 1rem;
    grid-area: ar;
}

aside
{
  margin-right: 1rem;
  grid-area: as;
}

footer
{
  padding: 1rem;
  grid-area: f;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

#titre_principal h1
{
  margin-left: 3rem;
  grid-area: h;
  display: flex;
  flex-direction: row-reverse;
}

.logo
{

}

.logo img
{
    width: auto;
    height: 3.75rem;
}

header h1, article h1, nav a
{
    font-size: 1.5rem;
    margin: 1rem;
}

nav ul
{
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav li
{
    margin-right: 0.625rem;

}

nav a
{
    font-size: 1.25rem;
    color: #2f2d29;
    padding-bottom: 0.1875rem;
    text-decoration: none;
}

nav a:hover
{
    color: #beb8b8;
}

#banniere_image
{
  width : auto;
  height: 15rem;

}

article,  aside
{

}

article
{
    margin-right: 1.25rem;
    text-align: center;
    grid-area:
}

article,aside p
{
    font-size: 1rem;
}

aside
{
    background-color: ; /*définition de la couleur du fond du aside*/
    box-shadow: 0rem 0.125rem 0.3125rem #1c1a19;
    border-radius: 0.3125;
    padding: 0.625rem;
    color: ; /*couleur de la police du aside*/
    font-size: 0.875rem;
}

aside h1
{

    font-size: 1.5rem;
}

.liens
{
    color: ; /*définition de la couleur des liens*/
}

.liens:hover
{
  color: ; /*définition de la couleur des liens lors d'un survol de la souris*/
}

#fleche_bulle
{
    position: absolute;
    top: 6.25rem;
    left: -0.75rem;
}

aside img
{
    margin-right: 0.3125rem;
}


#social
{

}

footer p, footer ul
{
    font-size: 0.8125rem;
}

footer h1
{
    font-size: 1.125rem;
}

#des_photos img
{
    border: 0.0625rem solid #181818;
    margin-right: 1.25rem;
}

#listes_sites
{

    margin-top: 0;
}

#sites_interessants ul
{
    list-style-image: url('images/ico_liensexterne.png');
    padding-left: 1.5rem;
}

#sites_interessants a
{
  text-decoration: none ;
  color: #760001 ;
}
